#!/bin/bash
# Create Paperless database and user
mysql -u root -p"${MYSQL_ROOT_PASSWORD}" <<EOF
CREATE DATABASE IF NOT EXISTS paperless CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
CREATE USER IF NOT EXISTS 'paperless'@'%' IDENTIFIED BY '{{ paperless_db_password }}';
GRANT ALL PRIVILEGES ON paperless.* TO 'paperless'@'%';
FLUSH PRIVILEGES;
EOF