# Rclone configuration for automation stack backups

[hetzner]
type = sftp
host = {{ vault_hetzner_host }}
user = {{ vault_hetzner_username }}
port = 23
key_file = {{ vault_hetzner_ssh_key_path | default('/home/' + automation_user + '/.ssh/hetzner') }}
use_insecure_cipher = false
disable_hashcheck = false