---
global:
  checkNewVersion: false
  sendAnonymousUsage: false

serversTransport:
  insecureSkipVerify: true

entryPoints:
  web:
    address: ":{{ traefik_web_port }}"
    http:
      redirections:
        entrypoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":{{ traefik_websecure_port }}"
    http:
      tls:
        certResolver: letsencrypt

  traefik:
    address: ":{{ traefik_dashboard_port }}"

certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ letsencrypt_email }}
      storage: /data/acme.json
{% if letsencrypt_staging %}
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory
{% endif %}
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: traefik-network

  file:
    filename: /config/dynamic.yml
    watch: true

api:
  dashboard: true
  debug: true
  insecure: true

metrics:
  prometheus:
    addEntryPointsLabels: true
    addServicesLabels: true
    addRoutersLabels: true

log:
  level: INFO
  filePath: /logs/traefik.log

accessLog:
  filePath: /logs/access.log