# Sudoers configuration for backup user
# {{ ansible_managed }}
# Allows backup user to run restic with elevated privileges for system backups

# Allow backup user to run restic without password
Defaults:backup !requiretty
Defaults:backup env_keep += "RESTIC_REPOSITORY RESTIC_PASSWORD_FILE RESTIC_CACHE_DIR RESTIC_SFTP_COMMAND"

# Backup user can run restic as root
backup ALL=(root) NOPASSWD: /usr/bin/restic
