/var/log/*.log {
    daily
    rotate {{ common_log_rotation_days }}
    {% if common_log_compression %}
    compress
    delaycompress
    {% endif %}
    missingok
    notifempty
    create 0644 root root
}
