# Enterprise Backup Timer for {{ backup_device_role }}
# {{ ansible_managed }}

[Unit]
Description=Enterprise Backup Timer for {{ backup_device_role }}
Requires=backup-{{ backup_device_role }}.service

[Timer]
OnCalendar={{ backup_schedule }}
Persistent=true
RandomizedDelaySec={{ backup_randomized_delay }}

[Install]
WantedBy=timers.target
