[Unit]
Description=Pi Hardware Metrics Collection
Documentation=https://prometheus.io/docs/guides/node-exporter/

[Service]
Type=oneshot
User={{ prometheus_exporters_user }}
Group={{ prometheus_exporters_group }}
ExecStart={{ pi_hardware_metrics_script }}
StandardOutput=journal
StandardError=journal