[Unit]
Description=Pi-hole Prometheus Exporter
Documentation=https://github.com/eko/pihole-exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ prometheus_exporters_user }}
Group={{ prometheus_exporters_group }}
ExecStart={{ prometheus_exporters_base_dir }}/bin/pihole_exporter \
  -pihole_hostname {{ pihole_exporter_pihole_hostname }} \
  -pihole_port {{ pihole_exporter_pihole_port }} \
  -port {{ pihole_exporter_port }}

SyslogIdentifier=pihole_exporter
Restart=always
RestartSec=1
StartLimitInterval=0

# Security settings
NoNewPrivileges=true
ProtectHome=true
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true

[Install]
WantedBy=multi-user.target